@page "/deputydirector/{DeputyDirectorId:int}"

<br />

<div class="container-fluid">
    <Card Title=@("Добавление заместителя директора")>
        <Form Model="@_deputyDirector">
            <Row Gutter="24">
                <GridCol Span="24">
                    <FormItem Label="ФИО">
                        <Input @bind-Value="@context.Name" />
                    </FormItem>
                    <FormItem Label="Подразделение">
                        <Select Mode="default"
                                DataSource="@Divisions"
                                TItem="Division"
                                TItemValue="int?"
                                @bind-Value="@context.DivisionId"
                                LabelName="@nameof(Division.Name)"
                                ValueName="@nameof(Division.Id)"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedItemChangedHandler">
                        </Select>
                    </FormItem>
                    <FormItem Label="Телефон">
                        <Input @bind-Value="@context.Phone" />
                    </FormItem>
                    <FormItem Label="Email">
                        <Input @bind-Value="@context.Email" />
                    </FormItem>
                    <FormItem Label="Пароль">
                        <Input @bind-Value="@context.Password" />
                    </FormItem>
                    <FormItem>
                        <AntDesign.Button OnClick="() => NavigationManager.NavigateTo(NavigateToUri)" Type="AntDesign.ButtonType.Primary">
                            Назад
                        </AntDesign.Button>
                        <AntDesign.Button OnClick="SaveAsync" Type="AntDesign.ButtonType.Primary" HtmlType="submit">
                            Сохранить
                        </AntDesign.Button>
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </Card>
</div>

@code {

}
