@page "/group-event/{GroupEventId:int}/{GroupId:int}"
@using MentorsDiary.Application.Entities.Events.Domains

<br />

<div class="container-fluid">
    <Card Title=@("Добавление события")>
        <Form Model="@_groupEvent">
            <Row Gutter="24">
                <GridCol Span="24">
                    <FormItem Label="Событие">
                        <Select Mode="default"
                                DataSource="@Events"
                                TItem="Event"
                                TItemValue="int?"
                                @bind-Value="@context.EventId"
                                LabelName="@nameof(Event.Name)"
                                ValueName="@nameof(Event.Id)"
                                IgnoreItemChanges="false">
                        </Select>
                    </FormItem>
                    <FormItem>
                        <Transfer DataSource="TransferStudents"
                                  TargetKeys="_targetKeys"
                                  SelectedKeys="_selectedKeys"
                                  Titles="_titles"
                                  OnChange="OnChange">
                        </Transfer>
                    </FormItem>
                    <FormItem Label="Число участников">
                        <span>@_selectedKeys.Count()</span>
                    </FormItem>
                    <FormItem>
                        <AntDesign.Button OnClick="() => NavigationManager.NavigateTo(NavigateToUri)" Type="AntDesign.ButtonType.Primary">
                            Назад
                        </AntDesign.Button>
                        <AntDesign.Button OnClick="SaveAsync" Type="AntDesign.ButtonType.Primary" HtmlType="submit">
                            Сохранить
                        </AntDesign.Button>
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </Card>
</div>