<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="@StyleNavBarForDeputyDirector" @onclick="SetStyleForDeputyDirector">
                    <a class="nav-link text-white" href="/deputydirector">ЗАМЕСТИТЕЛИ ДИРЕКТОРОВ</a>
                </li>
                <li class="@StyleNavBarForCurator" @onclick="SetStyleForCurator">
                    <a class="nav-link text-white" href="/curator">КУРАТОРЫ</a>
                </li>
                <li class="@StyleNavBarForEvents" @onclick="SetStyleForEvents">
                    <a class="nav-link text-white" href="/events" >МЕРОПРИЯТИЯ</a>
                </li>
                <li class="@StyleNavBarForStats" @onclick="SetStyleForStats">
                    <a class="nav-link text-white" href="/group">ГРУППЫ</a>
                </li>
            </ul>
        </div>
        <style>
            .nav_button {
                visibility: visible;
            }
        </style>
    </Authorized>
    <NotAuthorized/>
</AuthorizeView>
<AuthorizeView Roles="DeputyDirector">
    <Authorized>
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="@StyleNavBarForCurator" @onclick="SetStyleForCurator">
                    <a class="nav-link text-white" href="/curator">КУРАТОРЫ</a>
                </li>
                <li class="@StyleNavBarForStats" @onclick="SetStyleForStats">
                    <a class="nav-link text-white" href="/group">ГРУППЫ</a>
                </li>
            </ul>
        </div>
        <style>
            .nav_button {
                visibility: visible;
            }
        </style>
    </Authorized>
    <NotAuthorized/>
</AuthorizeView>
<AuthorizeView Roles="Curator">
    <Authorized>
        <div class="collapse" id="navbarToggleExternalContent">
            <ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/group">ГРУППЫ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/parents">РОДИТЕЛИ</a>
                </li>
            </ul>
        </div>
        <style>
            .nav_button {
                visibility: visible;
            }
        </style>
    </Authorized>
    <NotAuthorized/>
</AuthorizeView>