@page "/event/{EventId:int}"

<br />

<div class="container-fluid">
    <Card Title=@("Добавление события")>
        <Form Model="@_event">
            <Row Gutter="24">
                <GridCol Span="24">
                    <FormItem Label="Наименование">
                        <Input @bind-Value="@context.Name" />
                    </FormItem>
                    <FormItem Label="Описание">
                        <TextArea @bind-Value="@context.Comment"></TextArea>
                    </FormItem>
                    <FormItem Label="Дата проведения">
                        <DatePicker TValue="DateTime?" @bind-Value="@context.DateEvent" Picker="@DatePickerType.Date" />
                    </FormItem>
                    <FormItem>
                        <AntDesign.Button OnClick="() => NavigationManager.NavigateTo(NavigateToUri)" Type="AntDesign.ButtonType.Primary">
                            Назад
                        </AntDesign.Button>
                        <AntDesign.Button OnClick="SaveAsync" Type="AntDesign.ButtonType.Primary" HtmlType="submit">
                            Сохранить
                        </AntDesign.Button>
                    </FormItem>
                </GridCol>
            </Row>
        </Form>
    </Card>
</div>